$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$clear-grey: #999;
$dove-grey: #666;
$dark-grey: #353535;
$black: rgb(18, 18, 18);
$white: #ffffff;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$intense-blue: #005eff;
$intense-red: #ed3818;
$intense-yellow: #edc218;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: rgb(130, 130, 130);
$border-top: #005eff;
$border-bottom: #ff0000;