---
layout: default
pagination: 
  enabled: true
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
{% if page.mail %}
<p class="author">by <a href="mailto:{{ page.mail }}">{{ page.author | default: site.author }}</a></p>
{% else %}
<p>by {{ page.author | default: site.author }}</p>
{% endif %}
<hr>

{{content}}

<hr>

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<hr>

<div 
  class="just-comments"
  data-allowguests="true"
  data-apikey="f290dd5f-d7c4-485b-aa30-016b71e0667f">
</div>
<script async src="https://just-comments.com/w.js"></script>