---
layout: default
pagination: 
  enabled: true
---
<div class="text-center">
  <img class='img-responsive img-rounded' style='max-width: 50%' src='{{ page.image }}'/>
</div>
<br>

<small>{{ page.date | date_to_rfc822 }}</small>
<h1>{{ page.title }}</h1>
{% if page.mail %}
<p class="author">by <a href="mailto:{{ page.mail }}">{{ page.author | default: site.author }}</a></p>
{% else %}
<p>by {{ page.author | default: site.author }}</p>
{% endif %}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: " " }}</em></small>
{% endif %}
<hr>

{{content}}

<hr>

<div 
  class="just-comments"
  data-allowguests="true"
  data-recaptcha="true"
  data-apikey="f290dd5f-d7c4-485b-aa30-016b71e0667f">
</div>
<script async src="https://just-comments.com/w.js"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=jcOnRecaptchaLoad&render=explicit' async defer></script>